---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Curso Astro">
<main class="px-4 py-8 max-w-3xl mx-auto">
  <h1 class="text-4xl font-bold m-4 text-center text-pink-500">¡Bienvenid@!</h1>
  <p class="text-lg mb-16">
    ¡Hola! Este sitio ha sido creado como parte del curso de desarrollo web con <strong>Astro</strong>, un moderno framework para construir sitios rápidos, accesibles y optimizados.
  </p>

  <h2 class="text-2xl font-semibold mb-2 text-center text-purple-900"> ¿Qué encontrarás aquí?</h2>
  <ul class="list-disc list-none mb-16 space-y-1">
    <li>Una interfaz limpia y responsiva.</li>
    <li>Componentes reutilizables con integración de tecnologías como Tailwind CSS.</li>
    <li>Buenas prácticas de rendimiento y accesibilidad.</li>
    <li>Contenido dinámico, generado de forma estática para mayor velocidad.</li>
  </ul>

  <h2 class="text-2xl font-semibold mb-2 text-center text-purple-900"> Tecnologías usadas</h2>
  <ul class="list-disc list-inside mb-6 space-y-1">
    <li><strong>Astro</strong></li>
    <li><strong>Tailwind CSS</strong></li>
    <li><strong>Markdown / MDX</strong></li>
    <li><strong>TypeScript</strong></li>
  </ul>

  <p class="text-lg">
    Este proyecto demuestra cómo construir un sitio web moderno, rápido y eficiente desde cero usando Astro. ¡Explora, aprende y diviértete!
  </p>
</main>
</Layout>
