<a href="#about" target="_blank"
   class="inline-block px-[1px] py-[1px] rounded-md bg-gradient-to-r from-pink-300 to-purple-400">
  <span class="flex flex-row px-4 py-2 rounded-md bg-gray-900 text-white text-sm font-semibold transition-colors duration-300 hover:bg-gradient-to-r hover:from-purple-400 hover:to-pink-300">
    <slot name="before"/>
    <slot/>
    <slot name="after"/>
  </span>
</a>
